<!-- <p>
  signin works!
</p> -->
<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="signingForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Mail</label>
        <input 
                type="email" 
                id="email" 
                name="email"
                formControlName="email" 
                class="form-control">
                <span
                *ngIf="!signingForm.get('email').valid && signingForm.get('email').touched"
                class="help-block">Please enter a valid email</span>
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input 
                type="password" 
                id="password" 
                name="password" 
                formControlName="password"
                class="form-control">
                <span
                *ngIf="!signingForm.get('password').valid && signingForm.get('password').touched"
                class="help-block">Please enter a valid password</span>
      </div>
      <button class="btn btn-primary" type="submit">
        Sign in
      </button>
      <span style="display:inline-block; width: 100px;"></span>
      <a style="font-weight : bold; color : lightskyblue; cursor: pointer;" (click)="onCreateAccount()">Create an Account</a>
    </form>
    
</div>