
<div class="hello">
  <div class="row">
    <div class="col-xs-12">
      <img src="{{story.imagePath}}" alt="{{story.name}}" style="max-height:500px; max-width: 600px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{story.name}}</h1>
      <a style="cursor: pointer;" (click)="toggleLikes()" >{{story.likes.length}} likes</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div   class="btn-group" appDropDown #r="appDropDown">
        <button type="button" class="btn btn-primary dropdown-toggle">
          
          Manage Story
          <span class="caret"></span>
        </button>
        <ul  class="dropdown-menu " [ngClass]="{'show':r.isOpen}"> 
            <li><a style="cursor: pointer;">To Wall</a></li>
            <li><a style="cursor: pointer;" >Edit Story</a></li>
            <li><a style="cursor: pointer;">Delete Story</a></li>
        </ul>
      </div>
      
    
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{story.description}}
    </div>
  </div>
  <div class="row" *ngIf="showLikes">
    <div class="col-xs-12">
      <ul class="list-group">
        <li 
        class="list-group-item"
        *ngFor="let like of story.likes; let i=index">
          {{like.name}}
        </li>
      </ul>
    </div>
  </div>
</div>